{% extends 'base.html' %}



{% block heading %}
    Список кредитов
{% endblock %}

{% block content %}
<style>
table {
  width:100%;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
table#t01 tr:nth-child(even) {
  background-color: #eee;
}
table#t01 tr:nth-child(odd) {
 background-color: #fff;
}
table#t01 th {
  background-color: black;
  color: white;
}
</style>
<table style="width:400">
<tr>
    <th>Имя</th>
    <th>Отчество</th>
    <th>Фамилия</th>
    <th>Email</th>
    <th>Тип прав</th>
    <th>Активен</th>
    <th>Действия</th>

  </tr>

{% for user in user_list %}

  <tr>
    <td>{{user.first_name}}</td>
      <td>{{user.middle_name}}</td>
    <td>{{user.last_name}}</td>
    <td>{{user.email}}</td>
      <td>{{user.user_type}}</td>
      <td>{{user.initial_password_changed_at}}</td>
      <td><a href="#">Редактировать</a></td>
  </tr>
{% endfor %}

</table>
    <a href="#">(+) Добавить</a>



{% endblock %}

