{% extends 'base.html' %}

{% block title %}
Lombard CRM
{% endblock %}

{% block heading %}
{% endblock %}

{% block content %}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-6">#{{ loan.pk }} Кредит</h1>
        <p class="lead">Клиент: {{ loan.client.first_name }} {{ loan.client.last_name }} (ИИН: {{ loan.client.confirm_document.iin }})</p>
        <p class="lead">Залоговые имущества: </p>
        <ul class="list-group">
            {% for pledge_item in loan.pledge_items.all %}
            <li class="list-group-item">{{ forloop.counter }} - {{ pledge_item.name }} - {{ pledge_item.description }} ({{ pledge_item.price | floatformat:0 }} тенге)</li>
            {% endfor %}
        </ul>
        <p class="lead">Срок займа: {{ loan.duration }} дней</p>
        <p class="lead">Дата открытия: {{ loan.created_at | date:'d.m.Y' }}</p>
        <p class="lead">Дата закрытия: {{ loan.date_of_expire | date:'d.m.Y' }}</p>
        <p class="lead">Общая оценочная стоимость: {{ total_price | floatformat:0 }} тенге</p>
        <p class="lead">Процентная ставка: {{ interest_rate }}%</p>
        <p class="lead">Выданная сумма: {{ loan.client_amount | floatformat:0 }} тенге</p>
        <p class="lead">Общая сумма кредита: {{ loan.total_amount | floatformat:0 }} тенге</p>
        <p class="lead">Статус: <span class="text-danger">{{ loan.status }}</span></p>
        <a href="{{ ticket_url }}" class="btn btn-dark" download>Скачать залоговый билет</a>
        <div class="btn-group ml-auto" role="group" aria-label="Basic example">
            {% if is_open %}
            <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#buyout_modal">Выкуп</button>
            <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#prolongation_modal">Продление</button>
            {% endif %}
        </div>
        <div class="modal fade" id="buyout_modal" tabindex="-1" role="dialog" aria-labelledby="buyout_modalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="buyout_modalTitle">Выкуп</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Сумма для выкупа</label>
                            <input type="text" readonly class="form-control" value="{{ loan.total_amount | floatformat:0 }}">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                        <a href="{% url 'pawnshop:loan_buyout' loan.pk %}" class="btn btn-dark">Выкуп</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="prolongation_modal" tabindex="-1" role="dialog" aria-labelledby="prolongation_modalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="prolongation_modalTitle">Продление</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="{% url 'pawnshop:loan_prolongation' loan.pk %}" method="post">
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="form-group">
                                <label>Просрочено дней</label>
                                <input type="text" readonly class="form-control" value="#">
                            </div>
                            <div class="form-group">
                                <label>Пеня</label>
                                <input type="text" readonly class="form-control" value="#">
                            </div>
                            <div class="form-group">
                                <label>Срок продления<span class="required-indicator"> *</span></label>
                                <input type="number" min="5" max="30" name="prolongation_duration" class="form-control" placeholder="Введите срок продления в днях">
                            </div>
                            <div class="form-group">
                                <label>Сумма пролонгации</label>
                                <input type="text" readonly class="form-control">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
                            <button type="submit" class="btn btn-dark">Продлить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
