{% extends 'base.html' %}

{% block title %}
    Lombard CRM
{% endblock %}

{% block heading %}
    Выбор клиента
{% endblock %}

{% block content %}
    <div class="row justify-content-between">
        <div class="col-5">
            <form>
                <div class="form-group">
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Поиск клиента">
                    <div class="client-container">
                        <!--                            Loaded-->
                        <div class="client-item">
                            <div class="client-item-name">
                                <span>Бейсембаев Куаныш Ибраимович</span>
                            </div>
                            <div class="client-item-detail-container">
                                <p class="client-item-detail"><span class="bold-text">• Дата рождения:</span> 04.11.1998</p>
                                <p class="client-item-detail"><span class="bold-text">• Удостоверение:</span> 123456789</p>
                            </div>
                        </div>
                        <div class="client-item">
                            <div class="client-item-name">
                                <span>Бейсембаев Куаныш Ибраимович</span>
                            </div>
                            <div class="client-item-detail-container">
                                <p class="client-item-detail"><span class="bold-text">• Дата рождения:</span> 04.11.1998</p>
                                <p class="client-item-detail"><span class="bold-text">• Удостоверение:</span> 123456789</p>
                            </div>
                        </div>
                        <!--                            Loading-->
                        <div class="spinner-wrapper">
                            <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
                        </div>
                        <!--                            No results-->
                        <div class="no-content">
                            <p class="no-content-text">Ничего не найдено</p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-4">
            <form action="{% url 'pawnshop:client_create' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% include 'partials/_form.html' %}
                <div class="form-group">
                    <button type="submit" class="btn btn-dark btn-sm">Добавить клиента</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
