{% extends 'base.html' %}

{% block title %}
Lombard CRM
{% endblock %}

{% block heading %}
Залоговый билет №
{% endblock %}

{% block content %}
<div class="container text-justify mt-3">

    <p class="ticket_text">
        Есмаханова Камила , именуемый(ая) в дальнейшем "Залогодатель", удостоверение личности/паспорт №037976867
        выдан(о) МВД РКот 25.05.2015 г., ИИН 910210400474, с одной стороны, и ТОО "REAL ЛОМБАРД", именуемое в дальнейшем
        "Залогодержатель", в лицедиректора Исламов Ф.А., действующего на основании приказа №2 от 8.04.2019 г., с другой
        стороны, далее именуемые "Стороны", а поотдельности - "Сторона", заключили настоящий Залоговый билет о
        нижеследующем:
    </p>
    <ul>
        <li class="ticket_list">1.Залогодержатель передает на срочной возмездной основе денежные средства (краткосрочный
            займ) Залогодателю,
            Залогодатель
            передает Залогодержателю в залог нижеследующее имущество:
            №
            п/п Залоговое

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">№ п/п</th>
                        <th scope="col">Залоговое имущество</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">1</th>
                        <td></td>
                    </tr>

                </tbody>
            </table>

            <ul>
                <li class="ticket_list"><b>1.1. Срок залога:</b></li>
                <li class="ticket_list"><b>1.2. Дата выдачи займа:</b></li>
                <li class="ticket_list"><b>1.3. Дата возврата займа:</b></li>
                <li class="ticket_list"><b>1.4. Сумма оценки залога:</b></li>
                <li class="ticket_list"><b>1.5. Сумма рассчитанного займа:</b></li>
                <li class="ticket_list"><b>1.6. Вознаграждение за займ: (0,2% в день): 110 (Сто десять тенге) за весь
                    период настоящего
                    договора</b></li>
                <li class="ticket_list"><b>1.7. Сумма за хранение залога: 370 (Триста семьдесят тенге) за весь период
                    настоящего договора.</b></li>
                <li class="ticket_list"><b>1.8. СУММА ЗАЙМА К ВЫДАЧЕ:</b></li>
                <li class="ticket_list"><b>1.9. Дата окончания гарантийного срока:</b></li>
                <li class="ticket_list"><b>1.10. В течение гарантийного срока начисляется, неустойка в размере 2,5% за
                    каждый календарный день
                    от суммы выданного
                    займа.</b></li>
                <li class="ticket_list">1.11. Расходы Залогодержателя по хранению залогового имущества в период
                    гарантийного срока и
                    пролонгации Залогового билета составит
                    сумму в размере 80 (Восемьдесят тенге). Настоящий залоговой билет выступает в качестве сохранной
                    квитанции на весь срок займа.</li>
                <li class="ticket_list">1.12. Залогодатель ознакомлен и согласен с условиями хранения залогового
                    имущества после
                    гарантийного срока, а именно оказание услуг
                    Залогодержателем по хранению залогового имущества после гарантийного срока составит сумму в размере
                    10 000 (десять тысяч) тенге
                    за каждый календарный день неисполнения Залогодателем условий настоящего Залогового билета.
                    Настоящий залоговой билет
                    выступает в качестве сохранной квитанции на весь срок займа.</li>
            </ul>


        </li>
        <li class="ticket_list">2. Залогодатель при подписании настоящего Залогового билета подтвердил, что имущество,
            указанное в пункте 1 настоящего Залогового
            билета, принадлежит ему на праве собственности, не обременено, не является предметом притязаний иных лиц и
            предназначено для
            личного потребления. </li>
        <li class="ticket_list">3. Оценка Имущества произведена по соглашению Сторон, в соответствии с требованиями
            законодательства Республики Казахстан, в
            соответствии с ценами на вещь такого рода и качества, обычно устанавливаемыми в торговле в момент и в месте
            ее принятия
            Залогодержателем. Залогодатель ознакомлен с процедурой расчета оценочной стоимости, согласен с ней и не
            имеет претензий к
            Залогодержателю.</li>
        <li class="ticket_list">4. В момент выдачи займа, Залогодатель обязуется единовременным платежом внести в кассу
            Залогодержателя сумму процентов по
            вознаграждению, установленного пп.1.6 и пп.1.7 настоящего Залогового билета, за весь основной срок,
            установленный настоящим
            Залоговым билетом. </li>
        <li class="ticket_list">5. Залоговый договор может быть продлен на срок от 5 до 30 календарных дней. Количество
            продлений не ограничено с согласия
            Залогодержателя. </li>
        <li class="ticket_list">6. При досрочном расторжении настоящего Залогового билета оплаченные проценты
            вознаграждения (пп.1.6) и расходы по хранению
            залогового имущества (пп.1.7) возврату Залогодателю не подлежат. </li>
        <li class="ticket_list">7. Залогодатель вправе досрочно погасить займ единовременным платежом, в рабочие дни
            Залогодержателя. </li>
        <li class="ticket_list">8. Залогодатель ознакомлен и согласен, что Залогодержатель, ни при каких
            обстоятельствах, не несёт ответственности за разного рода
            информацию, содержащуюся в электронном носителе принятого под залог имущества. Залогодатель после передачи
            разблокированного имущества Залогодержателю в полной мере осознает и принимает риск потери/уничтожения/и
            иных последний,
            связанных с содержащейся в имуществе информации. Залогодатель ознакомлен с настоящими условиями, согласен с
            ней и не имеет и
            не будет иметь претензий в будущем к Залогодержателю.</li>
        <li class="ticket_list">9. Залогодатель ознакомлен и согласен, а также гарантирует, что не имеет претензий при
            подписании настоящего залогового билета и не
            будет иметь их в будущем к Залогодержателю по вопросу внесудебной реализации залогового имущества в связи с
            неисполнением
            условий настоящего Залогового билета и/или по истечению гарантийного срока хранения залогового имущества.
        </li>
        <li class="ticket_list">10. В случае невозвращения в установленный срок суммы займа, обеспеченного залогом,
            Залогодатель доверяет Залогодержателю, по
            истечении срока займа и/или гарантийного срока, реализовать в принудительном внесудебном порядке,
            принадлежащее Залогодателю
            имущество, третьим лицам в порядке, установленном действующим законодательством Республики Казахстан (для
            реализации
            невыкупленного заложенного имущества). Залогодатель дает согласие Залогодержателю реализовать имущество за
            цену и на условиях
            по своему усмотрению для покрытия суммы убытков Залогодержателя, с направлением вырученных от продажи денег
            в счет погашения
            сумм задолженности согласно очередности, установленной в пункте 14 настоящего Залогового билета. В случае
            реализации в
            принудительном внесудебном порядке Залогодержателем залогового имущества, Залогодатель гарантирует, что не
            будет иметь
            претензий к Залогодержателю. </li>
        <li class="ticket_list">11. Залогодатель принимает на себя обязательства, что если судом или органами
            досудебного расследования будет установлено, что
            залоговое имущество добыто преступным путём, то Залогодержатель имеет право взыскать единовременный штраф в
            двукратном
            размере от оценочной стоимости залогового имущества Залогодателя. При этом Залогодатель обязан выплатить
            сумму штрафа и сумму,
            выданного займа в течение (одного) календарного дня с даты уведомления Залогодержателя по любым средствам
            связи, указанным в
            пункте 25 настоящего Залогового билета. Ответственность за достоверность и действительность средств связи,
            указанных в настоящем
            Залоговом билете несет Залогодатель и в будущем претензий по данному вопросу иметь не будет.</li>
        <li class="ticket_list">12. В случае неисполнения Залогодателем своих обязательств в срок, неустойка (пп.1.10.
            залогового билета) начисляется от суммы
            выданного займа за каждый календарный день просрочки, начиная с первого дня просрочки до полного его
            погашения. При этом
            Залогодатель не освобождается от обязательств по возврату суммы займа.</li>
        <li class="ticket_list">13. Все споры или разногласия, возникающие между Сторонами по настоящему договору или в
            связи с ним, в том числе касающихся его
            заключения, изменения, исполнения, нарушения, расторжения или признания недействительным, разрешаются
            районным (городским)
            и приравненными к ним судами по месту нахождения спорного имущества, а именно по адресу регистрации
            Залогодержателя. </li>
        <li class="ticket_list">14. При погашении Залогодателем суммы займа, а также в случае внесудебной реализации
            залогового имущества Залогодателя (в случае
            неисполнения условий настоящего Залогового билета), Залогодатель согласен на погашение задолженности в
            следующей очередности:</li>
        <p>С условиями согласен: _____________ Есмаханова К</p>
        <ul>
            <li>1. неустойка за гарантийный срок;</li>
            <li>2. вознаграждение за пролонгацию залогового билета;</li>
            <li>3. сумма займа.</li>
        </ul>
        <p>При наличии остатка, сумма возвращается Залогодателю при предъявлении Залогового билета</p>
        <li class="ticket_list">15. Для выкупа залогового имущества, Залогодатель обязан своевременно погасить суммы,
            согласно пункту 13 настоящего Залогового
            билета. </li>
        <li class="ticket_list">16. Право на выкуп залогового имущества имеет Залогодатель при предъявлении
            удостоверения личности (паспорта) и настоящего
            Залогового билета, либо третье лицо, при наличии нотариально удостоверенной доверенности от Залогодателя.
        </li>
        <li class="ticket_list">17. Залогодатель ознакомлен и согласен, что в случае наступления форс-мажорных
            обстоятельств, а также при утрате (хищении, пожаре и
            т.п.) залогового имущества по вине третьих лиц, выданная сумма займа является денежной компенсацией за
            имущество, и
            Залогодатель не будет иметь никаких претензии к Залогодержателю по данному факту в будущем.</li>
        <li class="ticket_list">18. Залогодатель согласен, что обращение взыскания на имущество осуществляется без
            совершения исполнительной надписи нотариуса. </li>
        <li class="ticket_list">19. Залогодатель подтверждает, что все указанные в настоящем Залоговом билете данные
            верны и корректны, указанный номер телефона,
            является зарегистрированным номером за Залогодателем. Залогодатель обязан возместить любой ущерб/вред,
            который может быть
            причинён Залогодержателю в связи с указанием некорректных данных в настоящем Залоговом билете в любом
            объёме.</li>
        <li class="ticket_list">20. Залогодатель даёт бессрочно согласие Залогодержателю на обработку (сбор, запись,
            систематизацию, накопление, уточнение
            (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ,
            обезличивание,
            блокирование, удаление) своих персональных данных (ФИО, год месяц, дату рождения, адрес, телефон, профессия,
            место работы,
            серия и номер основного документа, удостоверяющего личность, сведения о дате выдаче указанного документе и
            выдавшем его
            органе), ставшим известным Залогодержателю при заключении настоящего Залогового билета, с целью его
            исполнения, сбора
            статистики, предоставления информации рекламного характера, предоставления по запросам органов и
            организаций, для
            использования с целью расширения клиентской базы, предоставления информации рекламного характера по запросам
            органов и
            организаций. </li>
        <li class="ticket_list">21. Залогодержатель ознакомил Залогодателя с условиями Правил проведения ломбардных
            операций, требованиями,
            предусмотренные законодательством Республики Казахстан о противодействии легализации (отмыванию) доходов,
            полученных
            преступным путем, и финансированию терроризма. </li>
        <li class="ticket_list">22. Залоговый билет представляет собой смешанный договор, включающий в себя условия
            договоров займа, залога, хранения, согласно
            требованиям законодательства Республики Казахстан.</li>
        <li class="ticket_list">23. Подписание Залогодателем настоящего Залогового билета означает согласие и принятие к
            исполнению всех пунктов и условий,
            изложенных в нем. </li>
        <li class="ticket_list">24. Настоящий Залоговый билет составлен в 2 (двух) экземплярах: первый находится у
            Залогодателя, второй у Залогодержателя.
            Залогодатель подтверждает, что один экземпляр Залогового билета им получен в момент подписания.</li>
        <li class="ticket_list">25. При подписании Залогового билета, Стороны подтверждают, что в правоспособности не
            ограничены, лица подписывающие Залоговый
            билет не находятся в состоянии наркотического, токсического или алкогольного опьянения, по состоянию
            здоровья могут осуществлять
            и защищать свои права и исполнять обязанности, а также Стороны подтверждают, что не находятся под влиянием
            заблуждения,
            обмана, насилия или угрозы, злонамеренного соглашения. Стороны настоящим подтверждают, что текст Залогового
            билета ими
            полностью прочитан, четко осознают, на каких условиях заключен Залоговый билет, а также текст Залогового
            билета полностью
            соответствует действительному волеизъявлению Сторон.</li>
    </ul>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col" class="w-50">ЗАЛОГОДЕРЖАТЕЛЬ</th>
                <th scope="col">ЗАЛОГОДАТЕЛЬ</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">ТОО "REAL ЛОМБАРД"
                    Фактический адрес: г.Алматы, ул.Розыбакиева 136/1
                    БИН 170640019273
                    режим работы:
                    пн - вс с 10:00 до 20:00
                    тел.: +7 700 222 75 99</th>
                <td></td>
            </tr>

        </tbody>
    </table>

</div>

{% endblock %}