{% extends 'base.html' %}

{% block title %}
Lombard CRM
{% endblock %}

{% block heading %}
Журнал операций
{% endblock %}

{% block content %}
<table class="table table-hover mt-4">
    <thead>
    <tr>
        <th scope="col">Дата, время записи</th>
        <th scope="col">Билет №</th>
        <th scope="col">Операция</th>
        <th scope="col">Сумма операции</th>
        <th scope="col">Сотрудник</th>
    </tr>
    </thead>
    <tbody>
    {% for operation in operations %}
    <tr>
        <td>{{ operation.created_at | date:'d.m.Y'}} - {{ operation.created_at|time:'H:i:s' }}</td>
        <td><a href="{% url 'pawnshop:loan_detail' operation.loan.pk %}">{{ operation.loan.id }}</a></td>
        <td>{{ operation.operation_type }}</td>
        <td>{{ operation.amount |floatformat:0 }}</td>
        <td>{{ operation.employee.username }}</td>
    </tr>
    {% empty %}
    <tr>
        <td colspan="10">
            <div class="no-content">
                <p class="no-content-text">Операций пока не было</p>
            </div>
        </td>
    </tr>
    {% endfor %}
    <tr>
        <th scope="col"></th>
        <th scope="col"></th>
        <th scope="col">Итого</th>
        <th scope="col">{{ total_amount }} тг.</th>
        <th scope="col"></th>
    </tr>
    </tbody>
</table>
{% endblock %}





