<script>
    const clientAmountInput = document.querySelector('#id_client_amount');
    const durationInput = document.querySelector('#id_duration');
    const totalAmountInput = document.querySelector('#id_total_amount');

    function getTotalAmountAjax(clientAmount, duration) {
        const url = '{% url 'pawnshop:loan_calculate_ajax' %}' + `?client_amount=${clientAmount}&duration=${duration}`;
        fetch(url).then(function (response) {
            if (response.ok)
                return response.json();
        }).then(function (response) {
            const clientAmountWrapper = clientAmountInput.parentElement;
            const durationWrapper = durationInput.parentElement;

            if (response.client_amount_error && response.duration_error) {
                clientAmountWrapper.classList.add('error');
                durationWrapper.classList.add('error');
            }
            else if (response.client_amount_error)
                clientAmountWrapper.classList.add('error');
            else if (response.duration_error)
                durationWrapper.classList.add('error');
            else {
                const totalAmount = Number(Math.round(response.total_amount * 100) / 100);
                const totalEvaluationPrice = Number(document.getElementById('total_price_input').value);
                totalAmountInput.value = totalAmount;

                document.querySelector('.total_price_form_group').classList.remove('error');
                if (totalAmount > totalEvaluationPrice)
                    document.querySelector('.total_price_form_group').classList.add('error');
            }
        })
    }

    clientAmountInput.addEventListener('input', function (event) {
        clientAmountInput.parentElement.classList.remove('error');
        if (clientAmountInput.value.length !== 0 && durationInput.value.length !== 0)
            getTotalAmountAjax(clientAmountInput.value, durationInput.value);
        else
            totalAmountInput.value = '';
    });
    durationInput.addEventListener('input', function (event) {
        durationInput.parentElement.classList.remove('error');
        if (clientAmountInput.value.length !== 0 && durationInput.value.length !== 0)
            getTotalAmountAjax(clientAmountInput.value, durationInput.value);
        else
            totalAmountInput.value = '';
    });
</script>