<script>
    let pledgeItemCounter = 1;

    document.querySelector('#pledge_item_create_button').addEventListener('click', function (event) {
        event.preventDefault();
        const pledgeItemData = {};
        pledgeItemData['category_pk'] = document.getElementById('id_category').value;
        pledgeItemData['subcategory_pk'] = document.getElementsByName('subcategory')[0].value;
        pledgeItemData['name'] = document.getElementById('id_name').value;
        pledgeItemData['price'] = document.getElementById('id_price').value;
        pledgeItemData['description'] = document.getElementById('id_description').value;
        pledgeItemData['note'] = document.getElementById('id_note').value;
        // pledgeItemData['image'] = document.getElementById('id_image').value;

         createPledgeItemAjax(pledgeItemData);
    });

    function createPledgeItemAjax(data) {
        const url = '{% url 'pawnshop:pledge_item_create_ajax' %}';
        fetch(url, {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                'X-CSRFToken': document.getElementsByName('csrfmiddlewaretoken')[0].value
            },
            body: JSON.stringify(data)
        }).then(function (response) {
            if (response.ok)
                return response.json();
        }).then(function (response) {
            createCriteriaAjax(response.pledge_item);
            addPledgeItemToList(response.pledge_item);
            addPledgeItemPkToForm(response.pledge_item);
            calculateTotalEvaluationPrice(response.pledge_item);
        });
    }

    function createCriteriaAjax(pledgeItem) {
        const data = {
            pledge_item_pk: pledgeItem.pk,
            criteria_value_list: {}
        };

        document.querySelectorAll('.criteria_input').forEach(function (input) {
            const criteriaPk = input.id.split('-')[1];
            data.criteria_value_list[criteriaPk] = input.value;
        });

        const url = '{% url 'pawnshop:criteria_value_create_ajax' %}';

        fetch(url, {
            method: 'POST',
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json',
                'X-CSRFToken': document.getElementsByName('csrfmiddlewaretoken')[0].value
            },
            body: JSON.stringify(data)
        });
    }

    function addPledgeItemToList(pledgeItem) {
        const pledgeItemElement = document.createElement('li');
        pledgeItemElement.classList.add('list-group-item', 'pledge_item_element');
        pledgeItemElement.innerText = `${pledgeItemCounter++}. ${pledgeItem.name} (Цена: ${pledgeItem.price})`;
        document.getElementById('pledge_item_list').appendChild(pledgeItemElement);
    }

    function addPledgeItemPkToForm(pledgeItem) {
        const inputElement = document.createElement('input');
        inputElement.setAttribute('type', 'hidden');
        inputElement.name = 'pledge_item' + pledgeItem.pk;
        inputElement.value = pledgeItem.pk;
        document.getElementById('pledge_item_pk_container').appendChild(inputElement);
    }

    function calculateTotalEvaluationPrice(pledgeItem) {
        const input = document.getElementById('total_price_input');
        const currentPrice = input.value;
        input.value = Number(currentPrice) + Number(pledgeItem.price);
    }
</script>