{% extends 'base.html' %}

{% block title %}
    Lombard CRM
{% endblock %}

{% block heading %}
    Список залоговых имуществ
{% endblock %}

{% block content %}
    <table class="table table-hover mt-4">
        <thead>
        <tr>
            <th scope="col">№</th>
            <th scope="col">Наименование ЗИ</th>
            <th scope="col">Дата возврата</th>
            <th scope="col">Дата гарантийного срока</th>
            <th scope="col">Сумма кредита</th>
            <th scope="col">Сумма выдачи</th>
        </tr>
        </thead>
        <tbody>
        {% for pledge_item in pledge_items %}
            <tr>
                <td><a href="{% url 'pawnshop:loan_detail' pledge_item.loan.pk %}">{{ pledge_item.loan.id }}</a></td>
                <td>{{ pledge_item.subcategory.name }}</td>
                <td>{{ pledge_item.loan.date_of_expire }}</td>
                <td>{{ pledge_item.loan.warranty_date }}</td>
                <td>{{ pledge_item.loan.total_amount | floatformat:0 }} тг.</td>
                <td>{{ pledge_item.loan.client_amount | floatformat:0 }} тг.</td>
            </tr>
        {% empty %}
            <tr>
                <td colspan="10">
                    <div class="no-content">
                        <p class="no-content-text">Нет активных залогов</p>
                    </div>
                </td>
            </tr>
        {% endfor %}
        <tr>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col"></th>
            <th scope="col" class="text-right">Итого</th>
            <th scope="col">{{ total_amount | floatformat:0 }} тг.</th>
            <th scope="col">{{ client_amount | floatformat:0 }} тг.</th>
        </tr>
        </tbody>
    </table>
{% endblock %}





